<div class="main-page-container">
    <div class="page-container">
        <div class="div-nav">
            <div class="nav-one">
                <div class="nav-first">
                    <img src="">
                    <p class="title">{{title}}</p>
                </div>
            </div>
            <div class="nav-two">
                <div class="nav-second">
                    <p>{{home}}</p>
                    <p>{{plantCare}}</p>
                    <p>{{store}}</p>
                    <p>{{contact}}</p>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="landing-title">
                <div class="title-page">
                    <p>Make your own<br>jungle.</p>
                </div>
                <div>
                    <button class="text-content" mat-button matSuffix color="primary" type="submit">
                        {{viewProducts}}
                    </button>
                    <button class="text-content" mat-button matSuffix color="primary" type="submit">
                        {{aboutUs}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>